.graph_title_red,.graph_title_blue
{
	font-family: open-sans-n7, sans-serif;
}

.month_blue,.month_red,.Name
{
	font-family: open-sans-n6, sans-serif;
}

.photo_text,.Quote_text,.WHD_quote
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.instruction_green,.text_level2,.sub_heading_green,.body_text,.country_name_light_blue,.country_name_blue,.source,.photo_title,.box_title_blue,.body_text_black,.text_level2_black,.source_red,.Position,.Character-Style
{
	font-family: open-sans-n4, sans-serif;
}

#u417-8
{
	font-family: open-sans-n6, sans-serif;
}

#u3337-4,#u3337-5,#u3337-8,#u3364-4,#u3383-2,#u3383-6,#u2119-6,#u2114-4,#u2851-6
{
	font-family: open-sans-n4, sans-serif;
}

#u266-4
{
	font-family: open-sans-n7, sans-serif;
}

#u224-4
{
	font-family: open-sans-n7, sans-serif;
}

#u252-4
{
	font-family: open-sans-n7, sans-serif;
}

#u214-4
{
	font-family: open-sans-n7, sans-serif;
}

#u241-4
{
	font-family: open-sans-n7, sans-serif;
}

#u284-4
{
	font-family: open-sans-n7, sans-serif;
}

#u290-4
{
	font-family: open-sans-n7, sans-serif;
}

#u262-4
{
	font-family: open-sans-n7, sans-serif;
}

#u276-4
{
	font-family: open-sans-n7, sans-serif;
}

#u218-4
{
	font-family: open-sans-n7, sans-serif;
}

#u232-4
{
	font-family: open-sans-n7, sans-serif;
}

#u247-4
{
	font-family: open-sans-n7, sans-serif;
}

